<!doctype html>
<head>
<title>{% block title %}{% endblock %}</title>
</head>

<body>
<nav>
  <h1>Higher or Lower Game</h1>
  <p>I'm thinking of a number between 1 and 100</p>
  <p>Enter your guess below and I will tell you if you guess is too high or too low</p>
</nav>


{% block content %}
  <form method="post">
    <label for="userGuess">Your Guess:</label>
    <input name="userGuess" id="userGuess" value="{{ userGuess }}" required><br>
    <input type="submit" value="Check Guess">
    {{response}}
  </form>
{% endblock %}

<p>You have used this page {{ times }} times</p>

<a href="{{ url_for('logout') }}">Reset Session</a>

</body>